/* Reset
------------------------------------------------------------ */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,input{font-size:100%;vertical-align:baseline;border:0;outline:0;background:transparent;margin:0;padding:0}ol,ul{list-style:none}blockquote,q{quotes:none}:focus{outline:0}table{border-collapse:collapse;border-spacing:0}

/* Base Styles
------------------------------------------------------------ */

body {
    background: #000;
    font: 15px / 22px 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    color: #000;
    width: 320px;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.position-relative {
    position: relative;
}

/* List Cards
------------------------------------------------------------ */

.list-card {
	background: #fff;
	width: 100%;
	height: 480px;
}

/* List Items
------------------------------ */

#list-items {
	position: absolute;
	top: 0;
	left: 0;
	background: red;
	width: 100%;
	height: 100%;
	-webkit-transition: -webkit-transform 0.1s ease-in-out;
	-webkit-transform: translateZ(0) translateX(320px);
}

#list-items.slide-view {
	-webkit-transform: translateX(0);
}